 :root {
     --color-white: #fff;
     --color-light: #foeff5;
     --color-gray-light: #86848c;
     --color-gray-dark: #565550;
     --color-dark: #27282f;
     --color-primary: rgb(255, 105, 180);
     --color-success: rgb(34, 202, 75);
     --color-danger: rgb(255, 67, 54);
     --color-warning: rgb(234, 181, 7);
     --color-purple: rgb(160, 99, 245);
     --color-primary-light: rgba(71, 7, 234, 0.2);
     --color-success-light: rgba(34, 202, 75, 0.2);
     --color-danger-light: rgba(255, 67, 54, 0.2);
     --color-purple-light: rgba(160, 99, 245, 0.2);
     --card-padding: 1.6em;
     --padding-1: rem;
     --padding-2: 8px;
     --card-border-radius: 1.6rem;
     --border-radius-1: irem;
     --border-radius-2: 6px;
 }

 * {
     margin: 0;
     padding: 0;
     outline: 0;
     border: 0;
     appearance: none;
     text-decoration: none;
     list-style: none;
     box-sizing: border-box;
 }

 html {
     font-size: 12px;
 }

 body {
     background: var(--color-light);
     font-family: poppins, sans-serif;
     min-height: 100vh;
     color: var(--color-dark);
 }

 img {
     width: 100%;
 }

 h1 {
     font-size: 2.2rem;
 }

 h2 {
     font-size: 1.5rem;
 }

 h3 {
     font-size: 1.2rem;
 }

 h4 {
     font-size: 1rem;
 }

 h5 {
     font-size: 0.86rem;
     font-weight: 500;
 }

 h6 {
     font-size: 7.6rem;
 }

 p {
     font-size: 0.86rem;
     color: var(--color-gray-dark);
 }

 small {
     font-weight: 300;
     font-size: 0.77rem;
 }

 .text-muted {
     color: var(--color-danger-light);
 }

 .danger {
     color: var(--color-danger);
 }

 .primary {
     color: var(--color-primary);
 }

 .success {
     color: var(--color-success);
 }

 .purple {
     color: var(--color-purple);
 }

 .bg-danger {
     background: var(--color-danger-light);
 }

 .bg-primary {
     background: var(--color-primary-light);
 }

 .bg-success {
     background: var(--color-success-light);
 }

 .bg-purple {
     background: var(--color-purple-light);
 }

 .bg-dark {
     background: #27282f;
     box-shadow: 0 0.8rem 0, 8rem rgba(0, 0, 0, 0.2);
 }

 nav {
     width: 100%;
     background: var(--color-gray-light);
     padding: 1rem 0;
 }

 nav .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
     width: 96%;
     margin: 0 auto;
 }

 nav img.logo {
     width: 7rem;
 }

 nav .search-bar {
     background: var(--color-white);
     padding: var(--padding-2) var(--card-padding);
     width: 32vw;
     border-radius: var(--border-radius-2);
     display: flex;
     align-items: center;
     gap: 1rem;
     color: var(--color-gray-dark);
     position: absolute;
     left: 15%;
 }

 nav .search-bar input[type="search"] {
     color: var(--color-dark);
     background: transparent;
     width: 100%;
 }

 nav .search-bar input[type="search"]::placeholder {
     color: var(--color-gray-dark);
 }

 nav .profile-area {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 4rem;
 }

 nav .profile-area .theme-btn {
     display: flex;
     background: var(--color-light);
     width: 5rem;
     height: 2rem;
     border-radius: var(--border-radius-2);
     cursor: pointer;
 }

 nav .profile-area .theme-btn span {
     width: 50%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 1.3rem;
 }

 nav .profile-area .theme-btn .active {
     background: var(--color-dark);
     border-radius: var(--border-radius-2);
     color: var(--color-white);
 }

 nav .profile-area .profile {
     display: flex;
     gap: 1rem;
     align-items: center;
 }

 nav .profile-area .profile-photo {
     display: block;
     width: 3rem;
     height: 3rem;
     border-radius: 50%;
     overflow: hidden;
 }

 nav .profile-area button {
     display: none;
 }

 main {
     display: grid;
     grid-template-columns: 16rem auto;
     gap: 2rem;
     width: 96%;
     margin: 1rem auto 4rem;
     background-color: #EDEDED;
 }

 main aside {
     display: flex;
     flex-direction: column;

     height: 88vh;
 }

 .txt {
     color: #27282f;
     display: block;
 }


 .oculto {
     width: -100px;
 }

 .oculto .txt {
     display: none;
 }

 .oculto .sidebar {
     width: 10px;
 }

 main aside .sidebar a {
     display: flex;
     align-items: center;
     gap: 1.2rem;
     height: 4.2rem;
     color: var(--color-gray-light);
     position: relative;
 }

 main aside .sidebar a span {
     font-size: 1.7rem;
     margin-left: 3rem;
     transition: all 300 ease;
 }

 main aside .sidebar a.active {
     background: var(--color-white);
     color: var(--color-primary);
 }



 main aside .sidebar a:hover {
     color: var(--color-primary);
 }

 main aside .sidebar a:hover span {
     margin-left: 2rem;
 }

 main aside .sidebar h4 {
     font-weight: 600;
 }

 main section.middle .header {
     display: flex;
     align-items: center;
     gap: 1rem;
 }

 main section.middle .header input[type='date'] {
     padding: 0.5rem 2rem;
     border-radius: var(--border-radius-2);
     background: var(--color-white);
     color: var(--color-gray-dark);
 }

 main section.middle .cards {
     margin-top: 1rem;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 1, 5rem;
 }

 main section.middle .cards .card {
     background: linear-gradient(#ff796f, #bd261b);
     padding: var(--card-padding);
     border-radius: var(--card-border-radius);
     color: white;
     height: 16rem;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     box-shadow: 0 2rem 3rem var(--color-danger-light);
     transition: all 200ms ease;
 }

 main section.middle .cards .card:hover {
     box-shadow: none;
 }

 main section.middle .cards .card:nth-child(2) {
     background: linear-gradient(#7f8191, #27282f);
     box-shadow: 0 2rem 3rem rgbs(0, 0, 0, 0.2);
 }

 main section.middle .cards .card:hover {
     box-shadow: none;
 }

 main section.middle .card .top {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 main section.middle .card .top .left {
     display: flex;
     gap: 0.5rem;
 }

 main section.middle .card .top .left h2 {
     font-weight: 2000;
     font-size: 1.4rem;
 }